@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Fira+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Fira+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
body{
    background-color: rgb(11, 24, 46);
    color: aliceblue;
}
.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
  font-size: 25px;
  color: azure; 
  text-decoration: none; 
  font-weight: 600;
}
.navbar{
    
    font-size: 18px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin: 50px;
    transition: .3s;
    

}
.navbar a:hover,
.navbar a.active{
    color: rgb(178, 207, 208);
}
.home{
    height: 100vh;
   display: flex; 
   align-items: center;
   padding: 0 10%;
}
.home-content{
    max-width: 600px;

}
.home-content h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;

}
.home-content h3{
    font-size: 25px;
    font-weight: 900;
    color: blue;
}
.home-content p{
    font-size: 16px;
    line-height: 1.4em;
    margin: 10px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;

    width: 320px;
    height: 45px;
    
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border-radius:  5px ;
    position: relative;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;

}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover{
    color: #081b29;

}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
    
]

.btn-box a::before{
    content: "";
    position: absolute;
    top:-0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(11, 21, 37);
    z-index: -1;
    transition:.5s;
    
    

}
.btn-box a:hover::before {
    width:100%;

}
  

    
